.mi-imagen {
  /* Aquí va todo el código que has proporcionado */
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 25% cover 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

@keyframes show {
  from {
      opacity: 0;
      transform: scale(0.1);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}